<!DOCTYPE html>
<html xmlns:sec="http://www.thymleaf.org/extras/spring-security"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <style>
        table{
        width:50%;
        }
        table,tr,td,th{
        border:1px solid black;
        }
        table{
        border-collapse: collapse;
        }
    </style>
</head>
<body>
<div class="books">
    <h3>Books Details</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Rent</th>
            <th>Add To Cart</th>
            <th>Return</th>
        </tr>
        <tr th:each="book: ${books}">
            <td th:text="${book.name}"/>
            <td th:text="${book.price}"/>
            <td th:text="${book.quantity}"/>
            <td>
                <form method="POST" th:action="@{/request-rent-book}">
                    <input name="id" th:value="${book.id}" type="hidden">
                    <input name="name" th:value="${book.name}" type="hidden">
                    <button type="submit">Rent</button>
                </form>
            </td>
            <td>
                <form method="POST" th:action="@{/cart-quantity}">
                    <input name="id" th:value="${book.id}" type="hidden">
                    <input name="name" th:value="${book.name}" type="hidden">
                    <button type="submit">Cart</button>
                </form>
            </td>
            <td>
                <form method="POST" th:action="@{/return-book}">
                    <input name="id" th:value="${book.id}" type="hidden">
                    <button type="submit">Return</button>
                </form>
            </td>
        </tr>
    </table>

    <br><br>

    <h2>Rented books</h2>
    <form th:action="@{/rented-books}" method="GET">
        <input type="submit" value="View"/>
    </form>

    <h2>View Cart</h2>
    <form th:action="@{/view-cart}" method="GET">
        <input type="submit" value="View"/>
    </form>
</div>
</body>
</html>